* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
    font-family: tommybold;
    src: url(../font/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: tommymedium;
    src: url(../font/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: tommyregular;
    src: url(../font/MADE\ Tommy\ Soft\ Regular\ PERSONAL\ USE.otf);
}

body {
    font-family: tommymedium;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* aqui começa o header */

header {
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

header #logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
}

header nav {
    width: 30%;
    margin-bottom: 10px;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul a {
    text-decoration: none;
}

header nav ul li {
    list-style-type: none;
    color: #1da8d4;
}

#logout {
    color: #e8a510;
}

.busca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.busca form {
    width: 100%;
}

.busca input {
    background-color: #ecf6ea;
    color: #799974;
    width: calc(100% - 40px);
    border: none;
    border-radius: 20px;
    padding: 8px;
    padding-left: 15px;
}

.busca button img{
    width: 20px;
}

.busca button {
    background-color: white;
    border: none;
}


/* aqui começa o main */
main img {
    width: 200px;
}

main {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}

/* aqui começa o favorito principal */

.conteudo h3 {
    font-family: tommybold;
    color: #1da8d4;
    margin-bottom: 30px;
    font-size: 1.6rem;
}

.favorito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.imagem-grande, .info {
    width: calc(100% / 2 - 20px);
}

.imagem-grande {
    margin-right: 20px;
    min-width: 310px;
}

.imagem-grande img {
    width: 100%;
    
    /* height: auto; */
    border-radius: 20px;
}

.info a{
    text-decoration: none;
}

.info h4 {
    font-family: tommyregular;
    color: #1da8d4;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.info p {
    font-family: tommyregular;
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.icones div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icones img {
    width: 30px;
    margin-bottom: 8px;
}

.icones a {
    text-decoration: none;
}

.icones h6 {
    font-size: 0.8rem;
}

#fav h6{
    color: #1da8d4;
}

#amigos h6 {
    color: #a6cda0;
}

#date h6 {
    color: #e8a510;
}

#domingo h6 {
    color: #eb4100;
}

#salvo h6 {
    color: #6e6e6e;
}


.botao-grande {
    font-family: tommymedium;
    color: white;
    background-color: #a6cda0;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 20px;
}

/* aqui começa os outros favoritos */

.fav-outros {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.fav-outros div {
    width: calc(100% / 3 - 5%);
}

.fav-outros div h5 {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.fav-amigos h5 {
    color: #a6cda0;
}

.fav-date h5 {
    color: #e8a510;
}

.fav-domingo h5 {
    color: #eb4100;
}

.fav-outros div h6 {
    font-size: 1.1rem;
    font-family: tommyregular;
    color: #6e6e6e;
    margin-bottom: 10px;
}

.fav-outros div a {
    text-decoration: none;
}

.fav-outros div img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.fav-outros button {
    font-family: tommymedium;
    font-size: 0.9rem;
    color: #a6cda0;
    background-color: white;
    border: none;
}

/* aqui começa o painel do usuario */

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f4;
    padding: 35px;
    border-radius: 20px;
    width: 40%;
    max-width: 215px;
    height: 680px;

}

.usuario a {
    text-decoration: none;
}

.usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.usuario h5 {
    font-size: 1.2rem;
    font-family: tommyregular;
    text-align: center;
    color: #6e6e6e;
    /* white-space: nowrap; */
    margin-bottom: 4px;
}

.usuario h6 {
    font-size: 0.9rem;
    font-family: tommymedium;
    color: #a0a0a0;
    margin-bottom: 8px;
    text-align: center;
}

.usuario p {
    font-family: tommyregular;
    text-align: center;
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

.usuario nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario nav ul li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
}

.usuario a {
    text-decoration: none;
}

.fav-user ul a:nth-child(1) {
    color: #1da8d4;
}

.fav-user ul a:nth-child(2) {
    color: #a6cda0;
}

.fav-user ul a:nth-child(3) {
    white-space: nowrap;
    color: #e8a510;
}

.fav-user ul a:nth-child(4) {
    color: #eb4100;
    margin-bottom: 100px;
}

.menu-user ul li {
    color: #a0a0a0;
    font-family: tommyregular;
}

.menu-user ul a:nth-child(1) {
    font-family: tommybold;
}

#a-botao {
    width: 100%;
}

/* aqui começa o footer */

footer {
    background-color: #1da8d4;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 100px;
}

footer img {
    height: 30px;
}

footer nav {
    width: 30%;
    margin-left: 100px;
    margin-right: 100px;
}

footer nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer nav ul a {
    text-decoration: none;
}

footer nav ul li {
    list-style-type: none;
    color: white;
}

/* aqui começa o form de favorito */

.form-fav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-fav div {
    width: calc(100% / 2 - 20px);
}

.form-fav input[type=file]{
    display: none;
}

.form-fav input[type=text]{
    font-family: tommyregular;
    color: #1da8d4;
    font-size: 1.3rem;
    margin-bottom: 15px;
    background-color: none;
    border: none;
    border-bottom: 1px solid #1da8d4;
    width: 100%;
    padding-bottom: 10px;
}

.form-fav textarea {
    width: 100%;
    font-family: tommyregular;
    font-size: 0.9rem;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #1da8d4;
    color: #a0a0a0;
}

::-webkit-input-placeholder {
    color: rgb(188, 183, 194);
}

/* aqui começa o logout */
.main-logout {
    height: 250px;
}

.logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout h3 {
    margin-bottom: 20px;
}

.logout p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.logout a {
    width: 100%;
}

/* aqui começa a página de seguir */

.seguir {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.imagens img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#mais {
    width: 20px;
    height: 20px;
}

.seguir h3 {
    color: #6e6e6e;
    margin-bottom: 20px;
}

.seguir p {
    color: #a0a0a0;
    font-family: tommyregular;
    margin-bottom: 20px;
}

.seguir a{
    width: 100%;
}

/* aqui começa o exibir */
.exibir {
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.posts {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.posts div {
    width: calc(100%/4 - 30px);
    min-width: 210px;
    height: auto;
}

.post div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-post {
    margin-bottom: 30px;
}

.tipo a {
    width: 12%;
}

.tipo a img {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
}

.tipo * {
    margin-bottom: 0px;
}

.tipo h6 {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.user-post a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-post a h5{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-left: 10px;
}

.user-post a img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.amigos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.amigos a {
    text-decoration: none;
}

.amigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
}

.amigo img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.amigo h5 {
    font-size: 1rem;
    color: #6e6e6e;
}

.amigo p {
    font-size: 0.9rem;
    color: #a0a0a0;
}

/* aqui começa o top */
#topo {
    color: #a0a0a0;
}

.top {
    width: 100%;
}

.top .fav-outros h5 {
    font-size: 1.3rem;
}

.top .fav-outros a li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-left: 10px;
}

.top .fav-amigos a li {
    color: #a6cda0;
}

.top .fav-date a li {
    color: #e8a510;
}

.top .fav-domingo a li {
    color: #eb4100;
}

.top article {
    margin-bottom: 40px;
}

.top article a {
    text-decoration: none;
}

.top article a li{
    font-size: 1.3rem;
    color: #1da8d4;
    margin-bottom: 10px;
    padding-left: 10px;
}

.topo ol a li {
    color: #6e6e6e;
}

.bloco-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bloco-top .lista{
    width: 40%;
    margin-right: 50px;
}

.bloco-top .fav-outros .posts{
    width: 60%;
}

.bloco-top .user-post a h5{
    font-size: 0.9rem;
}

/* aqui começa o index */

.index-header {
    height: 100vh;
    background-image: url(../img/home.png);
    background-position: top;
    background-size: cover;
    margin-bottom: 70px;
}

.index-header nav {
    color: #1da8d4;
}

.index-header nav h1 {
    font-size: 3.2rem;
    font-family: tommybold;
    text-align: right;
    margin-bottom: 20px;
}

.index-header nav h4 {
    margin-bottom: 20px;
    text-align: right;
}

.index-header nav a {
    text-decoration: none;
}

.index-header nav a p {
    color: #e8a510;
    text-align: center;
}

.home{
    align-items: center;
}

.home img {
    width: 100%;
}

.home h3 {
    font-size: 3rem;
}

.home .bloco-top {
    margin-bottom: 70px;
}

.cidade, .cidade h3, .cidade a {
    color: #a6cda0;
}

.mundo h3, .mundo p {
    color: #e8a510;
    text-align: right;
}

.encontre h3, .encontre p {
    color: #eb4100;
}

#b-home {
    width: 40%;
}

